# eclipse
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ IDEA

.idea/
*.iml
*.ipr
*.iws

# gradle
.gradle/
build/
out/
classes/

# other
run/
!LICENSE
!README.*
!.gitignore
*.DS_Store*
/.idea/
/remappedSrc/
/libs/
/src/main/generated/.cache/
changelog.md
