# eclipse
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr

# gradle
build
.gradle

# other
run
!LICENSE
!README.*
!.gitignore
*.DS_Store*